    </main>
    <footer>
      <div class="constrained">
        <a href="https://static.velvetcache.org/John-Hobbs-Public-Key.asc">0xF79C72E6EDC70E38</a>
        <nav>
          Color:
          <a href="#" class="theme-switcher" data-theme="blue" aria-label="Switch to blue color theme"></a>
          <a href="#" class="theme-switcher" data-theme="pink" aria-label="Switch to pink color theme"></a>
          <a href="#" class="theme-switcher" data-theme="yellow" aria-label="Switch to yellow color theme"></a>
          <a href="#" class="theme-switcher" data-theme="green" aria-label="Switch to green color theme"></a>
          <a href="#" class="theme-switcher" data-theme="orange" aria-label="Switch to orange color theme"></a>
          <a href="#" class="theme-switcher" data-theme="purple" aria-label="Switch to purple color theme"></a>
          Mode:
          <a href="#" class="scheme-switcher" data-scheme="light" aria-label="Switch to light scheme"></a>
          <a href="#" class="scheme-switcher" data-scheme="dark" aria-label="Switch to dark scheme"></a>
        </nav>
      </div>
    </footer>
    <script>
      document.querySelectorAll('a.theme-switcher').forEach(a => a.addEventListener('click', (e) => {
        e.preventDefault();
        document.body.dataset['theme'] = e.target.dataset['theme'];
        window.localStorage.setItem('theme', e.target.dataset['theme']);
      }));
      document.querySelectorAll('a.scheme-switcher').forEach(a => a.addEventListener('click', (e) => {
        e.preventDefault();
        document.body.dataset['scheme'] = e.target.dataset['scheme'];
        window.localStorage.setItem('scheme', e.target.dataset['scheme']);
      }));
    </script>
  </body>
</html>
