    </main>
    <footer>
      <div class="constrained">
        <a href="/about/">About</a> -
        <a href="/theme/">Change Theme</a>
        <a href="https://static.velvetcache.org/John-Hobbs-Public-Key.asc" style="float: right;">0xF79C72E6EDC70E38</a>
      </div>
    </footer>
  </body>
</html>
