<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6DNLMGCB0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z6DNLMGCB0');
    </script>
    {% if title %}
    <title>{{ title | safe }} | {{ blog.title | safe }}</title>
    {% else %}
    <title>{{ blog.title | safe }}</title>
    {% endif %}
    {% if noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy" />
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for velvetcache.org" href="/feed.xml" />
    <link rel="stylesheet" href="/static/theme.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/static/source-code-pro-8ef7711.css" rel="stylesheet">
    <link href="/static/hljs-monokai.css" rel="stylesheet">
  </head>
  <body>
    <script>
      document.body.dataset['scheme'] = window.localStorage.getItem('scheme') || '';
      document.body.dataset['theme'] = window.localStorage.getItem('theme') || '';
    </script>
    <header>
      <div class="constrained">
        <a href="/">jmhobbs</a>
      </div>
    </header>
    <main>
