<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy" />
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for velvetcache.org" href="/feed.xml" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap">
    </noscript>

    <link rel="stylesheet" href="/static/theme.css" />

    <link rel="preload" href="/static/source-code-pro-8ef7711.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/source-code-pro-8ef7711.css"></noscript>

    <link rel="preload" href="/static/hljs-monokai.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/hljs-monokai.css"></noscript>
    {% if title %}
    <title>{{ title | safe }} | {{ blog.title | safe }}</title>
    {% else %}
    <title>{{ blog.title | safe }}</title>
    {% endif %}
    {% if noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}
  </head>
  <body{% if type == 'page' %} class="page-{{title|slugify}}"{% endif %}>
    <script>
      document.body.dataset['scheme'] = window.localStorage.getItem('scheme') || '';
      document.body.dataset['theme'] = window.localStorage.getItem('theme') || '';
    </script>
    <header>
      <div class="constrained">
        <a href="/">jmhobbs</a>
        <nav>
          <a href="/about/">About</a>
        </nav>
      </div>
    </header>
    <main>
