<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy" />
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for velvetcache.org" href="/feed.xml" />

    <link rel="stylesheet" href="/static/theme.css" />

    <link rel="preload" href="/static/source-code-pro-8ef7711.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/source-code-pro-8ef7711.css"></noscript>

    <link rel="preload" href="/static/hljs-monokai.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/hljs-monokai.css"></noscript>

    {%- if title -%}
    <title>{{ title | safe }} | {{ blog.title | safe }}</title>
    <meta property="og:title" content="{{ title | safe }}" />
    <meta property="og:site_name" content="{{ blog.title | safe }}" />
    {%- else -%}
    <title>{{ blog.title | safe }}</title>
    {%- endif -%}

    {%- if noindex -%}
    <meta name="robots" content="noindex" />
    {%- endif -%}

    {%- if summary -%}
    <meta name="description" content="{{ summary | safe }}" />
    <meta property="og:description" content="{{ summary | safe }}">
    {%- endif -%}

    {%- if opengraph_image -%}
    <meta property="og:image" content="{{ opengraph_image | safe }}" />
    {%- elif title | opengraphImageUrl(page.inputPath) !== null -%}
    <meta property="og:image" content="{{ title | opengraphImageUrl(page.inputPath) | safe }}" />
    {%- endif -%}
  </head>
  <body{% if type == 'page' %} class="page-{{title|slugify|safe}}"{% endif %}>
    <script>
      document.body.dataset['scheme'] = window.localStorage.getItem('scheme') || '';
      document.body.dataset['theme'] = window.localStorage.getItem('theme') || '';
    </script>
    <header>
      <div class="constrained">
        <a href="/">jmhobbs</a>
        <nav>
          <a href="/about/">About</a>
        </nav>
      </div>
    </header>
    <main>
