@use "sass:color";
@use "sass:map";

@use "normalize";

$themes: (
  yellow: #e5b567,
  green: #b4d273,
  orange: #e87d3e,
  purple: #9e86c8,
  pink: #b05279,
  blue: #6c99bb
);

:root {
  --monokai-background: #2e2e2e;
  --monokai-comments: #797979;
  --monokai-white: #d6d6d6;
  @each $name, $color in $themes {
    --monokai-#{"" + $name}: #{$color};
  }
  --body-font: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  --mono-font: 'Source Code Pro', ui-monospace, 'Cascadia Code', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --theme-color: var(--monokai-blue);
}

@each $name, $color in $themes {
  body[data-theme=#{"" + $name}] {
    --theme-color: #{$color};
    --theme-color-light: #{color.scale($color, $lightness: 25%)};
    --theme-color-dark: #{color.scale($color, $lightness: -25%)};
  }
}

$light_scheme: (
  background: #dddddd,
  color: #333333,
  strongTheme: -25%,
  weakTheme: 25%,
  strong: -50%,
  weak: 50%
);

$dark_scheme: (
  background: #111111,
  color: #d6d6d6,
  strongTheme: 25%,
  weakTheme: -25%,
  strong: 50%,
  weak: -50%
);

@mixin scheme($scheme) {
  --main-bg-color: #{map.get($scheme, "background")};
  --main-font-color: #{map.get($scheme, "color")};
  --main-font-color-light: #{color.scale(map.get($scheme, "color"), $lightness: 50%)};
  --main-font-color-dark: #{color.scale(map.get($scheme, "color"), $lightness: -50%)};
  --main-font-color-weak: #{color.scale(map.get($scheme, "color"), $lightness: map.get($scheme, "weak"))};
  --main-font-color-strong: #{color.scale(map.get($scheme, "color"), $lightness: map.get($scheme, "strong"))};
  @each $name, $color in $themes {
    &[data-theme=#{"" + $name}] {
      --theme-color-weak: #{color.scale($color, $lightness: map.get($scheme, "weakTheme"))};
      --theme-color-strong: #{color.scale($color, $lightness: map.get($scheme, "strongTheme"))};
    }
  }
}

body {
  @include scheme($light_scheme)
}

body[data-scheme=dark] {
  @include scheme($dark_scheme)
}

@media (prefers-color-scheme: dark) {
  body {
    @include scheme($dark_scheme)
  }

  body[data-scheme=light] {
    @include scheme($light_scheme)
  }
}

html, body {
  background-color: var(--main-bg-color);
  font-family: var(--body-font); 
  color: var(--main-font-color);
  font-size: 1.05rem;
  line-height: 1.5rem;
}

/* push the footer down */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  width: 100%;
}

main {
  min-height: 100%;
}

a, a:visited, a:active {
  color: var(--main-font-color-strong);
  text-decoration-color: var(--theme-color);
}

a:hover {
  color: var(--theme-color-strong);
  text-decoration-color: var(--main-font-color-weak);
}

q {
  font-style: italic;
}

p, figure, table, pre {
  margin: 1.5rem 0 0 0;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
  margin: auto;
}

hr {
  border: 2px solid var(--theme-color);
  margin: 5rem 0;
}

code {
  padding: 0.2rem 0.3rem 0.1rem 0.3rem;
  background-color: var(--monokai-background);
  font-family: var(--mono-font);
  font-size: 0.9rem;
  color: var(--monokai-white);
}

pre {
  background-color: var(--monokai-background);
  color: var(--monokai-white);
}

pre > code {
  padding: 1rem;
  display: block;
  overflow: auto;
  tab-size: 2;
  line-height: 1.25;
}

pre > code.language-console {
  line-height: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  border: 1px solid var(--monokai-background);
}
th {
  background: var(--monokai-background);
  color: var(--monokai-white);
}

/* constrained width elements */
main, .constrained {
  max-width: 940px;
  width: 90%;
  margin: auto;
}

/* page header */

body > header {
  font-family: var(--mono-font);
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  background-color: var(--theme-color);
  border-bottom: 1px solid var(--theme-color-weak);
}

body > header a, body > footer a {
  text-decoration: none;
}

body > header a:hover, body > footer a:hover {
  color: #333;
}

body > header nav, body > footer nav {
  float: right;
}
body > footer nav a {
  padding: 0 0 0 2rem;
}
 
body > header nav {
  svg {
    height: 25px;
    shape-rendering: "geometricPrecision";
    text-rendering: "geometricPrecision";
    image-rendering: "optimizeQuality";

    .primary {
      fill: var(--theme-color);
    }
    .alternate {
      fill: var(--main-font-color-strong);
    }
  }
  a:hover svg .alternate {
    fill: var(--main-bg-color);
  }
}

/* page footer */

body > footer {
  background-color: var(--theme-color);
  font-family: var(--mono-font);
  margin-top: 5rem;
  font-size: 0.7rem;
  padding: 0.2rem 0;
  border-top: 1px solid var(--theme-color-weak);
}

body > footer nav a {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  border: 1px solid #eee;
  border-radius: 50%;
  position: relative;
  top: 0.15rem;
}

body > footer nav a[data-theme=blue] {
  background-color: var(--monokai-blue);
}
body > footer nav a[data-theme=pink] {
  background-color: var(--monokai-pink);
}
body > footer nav a[data-theme=yellow] {
  background-color: var(--monokai-yellow);
}
body > footer nav a[data-theme=green] {
  background-color: var(--monokai-green);
}
body > footer nav a[data-theme=orange] {
  background-color: var(--monokai-orange);
}
body > footer nav a[data-theme=purple] {
  background-color: var(--monokai-purple);
}
body > footer nav a[data-scheme=light] {
  background-color: #{map.get($light_scheme, "background")};
}
body > footer nav a[data-scheme=dark] {
  background-color: #{map.get($dark_scheme, "background")};
}

/* posts */

article {
  margin-top: 3rem;
}

article header h1 {
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
}

article h1, article h2, article h3 {
  margin-top: 3rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid var(--theme-color);
}


article footer {
  margin: 2rem 0 1rem 0;
  padding: 0.7rem 0;
  border-top: 1px dashed var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  font-size: 0.7em;
  text-align: right;
  font-family: var(--mono-font);
}

a.tag {
  padding: 0.25rem 0.3rem;
  font-size: 0.7em;
  font-family: var(--mono-font);
}

article footer a,  article footer a:visited, article footer a:active,
a.tag, a.tag:visited, a.tag:active
{
  background: var(--theme-color);
  color: var(--main-font-color-strong);
  padding: 0.25rem 0.3rem;
  border-radius: 5%;
  text-decoration: none;
  margin-left: 0.15rem;
}
article footer a:hover, a.tag:hover {
  color: var(--theme-color-weak);
  background: var(--main-font-color-strong);
}

blockquote {
  &::before {
    position: absolute;
    left: 0rem;
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: 700;
    content: "“";
    color: var(--theme-color);
    top: 1.5rem;
    font-style: italic;
  }
  &::after {
    position: absolute;
    right: 0.25rem;
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: 700;
    content: "„";
    color: var(--theme-color);
    bottom: 2.5rem;
    font-style: italic;
  }

  position: relative;
  background: var(--main-font-color);
  color: var(--main-bg-color);
  margin: 1.5rem 0;
  padding: 1.75rem 1.5rem 2.5rem 1.5rem;
  margin-inline-start: unset;
  margin-inline-end: unset;
  border-left: 1rem solid var(--theme-color);
  font-size: 1.25rem;

  a, a:active, a:visited {
    color: var(--main-bg-color);
    &:hover {
      color: var(--theme-color-weak);
    }
  }

  cite {
    font-size: 1rem;
    text-align: right;
    display: block;
    margin-top: 1rem;
  }
}

aside {
  background: var(--main-font-color);
  color: var(--main-bg-color);
  margin: 1.5rem 0;
  padding: 0.1rem 1rem 1.6rem 1rem;
  border-left: 1rem solid var(--theme-color);

  a, a:active, a:visited {
    color: var(--main-bg-color);
    &:hover {
      color: var(--theme-color-weak);
    }
  }

  cite {
    font-size: 1rem;
    text-align: right;
    display: block;
    margin-top: 1rem;
  }
}

/* Listing Pages */
div.listing {
  h2 {
    margin-bottom: 0.15rem
  }
  div {
    border-bottom: 1px solid var(--theme-color);
    padding: 1.5rem 0;
    .tags {
      border-bottom: none;
      padding: 0.5rem 0 1.5rem 0;
      text-align: right;
    }
    &:first-child {
      margin-top: 1.5rem;
    }
  }
  time {
    font-size: 0.95rem;
  }
  p {
    margin-top: 0.5rem;
  }

  // pagination
  nav > ol {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    color: var(--main-font-color-weak);
    li {
      text-align: center;
    }
  }

  h1:first-child {
    border-bottom: 1px solid var(--theme-color);
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }
}

table.theme-demo {
  td:first-child {
    min-width: 100px;
  }
  .weak {
    background: var(--main-font-color-weak);
  }
  .strong {
    background: var(--main-font-color-strong);
  }
  .light {
    background: var(--main-font-color-light);
  }
  .dark {
    background: var(--main-font-color-dark);
  }
  .theme {
    background: var(--theme-color);
  }
  .theme-weak {
    background: var(--theme-color-weak);
  }
  .theme-strong {
    background: var(--theme-color-strong);
  }
  .theme-light {
    background: var(--theme-color-light);
  }
  .theme-dark {
    background: var(--theme-color-dark);
  }
}

ul.tag-cloud {
  padding-inline-start: 0;

  li {
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 1.25rem;
  }
}

/* page/post specific styles */
body.page-about {
  img {
    width: 80%;
    padding: 1.5rem 10% 0.5rem 10%;
    height: auto;
  }
  @media only screen and (min-width: 475px) {
    img {
      width: 200px;
      height: 200px;
      float: right;
      padding: 1rem;
    }
  }
}


// ansi highlighting
:root {
  --ansi-black: #282828;
  --ansi-red: #f43753;
  --ansi-green:  #c9d05c; // #87d05c;
  --ansi-yellow: #ffc24b;
  --ansi-blue: #b3deef;
  --ansi-magenta: #9e86c8 // #d3b987;
  --ansi-cyan: #73cef4;
  --ansi-white: #eeeeee;
  --ansi-bright-black: #4c4c4c;
  --ansi-bright-red: #f43753;
  --ansi-bright-green: #c9d05c; // ##82e04a;
  --ansi-bright-yellow: #ffc24b;
  --ansi-bright-blue: #b3deef;
  --ansi-bright-magenta: #9e86c8 // #bb93fd; // #d3b987;
  --ansi-bright-cyan: #73cef4;
  --ansi-bright-white: #feffff;
}

.ansi {
  color: var(--ansi-white);
}

.ansi-fg-black { color: var(--ansi-black); }
.ansi-fg-red { color: var(--ansi-red); }
.ansi-fg-green { color: var(--ansi-green); }
.ansi-fg-yellow { color: var(--ansi-yellow); }
.ansi-fg-blue { color: var(--ansi-blue); }
.ansi-fg-magenta { color: var(--ansi-magenta); }
.ansi-fg-cyan { color: var(--ansi-cyan); }
.ansi-fg-white { color: var(--ansi-white); }

.ansi-fg-bright-black, .ansi-bold.ansi-fg-black { color: var(--ansi-bright-black); }
.ansi-fg-bright-red { color: var(--ansi-bright-red); }
.ansi-fg-bright-green { color: var(--ansi-bright-green); }
.ansi-fg-bright-yellow { color: var(--ansi-bright-yellow); }
.ansi-fg-bright-blue { color: var(--ansi-bright-blue); }
.ansi-fg-bright-magenta { color: var(--ansi-bright-magenta); }
.ansi-fg-bright-cyan { color: var(--ansi-bright-cyan); }
.ansi-fg-bright-white { color: var(--ansi-bright-white); }

.ansi-bg-black { background-color: var(--ansi-black); }
.ansi-bg-red { background-color: var(--ansi-red); }
.ansi-bg-green { background-color: var(--ansi-green); }
.ansi-bg-yellow { background-color: var(--ansi-yellow); }
.ansi-bg-blue { background-color: var(--ansi-blue); }
.ansi-bg-magenta { background-color: var(--ansi-magenta); }
.ansi-bg-cyan { background-color: var(--ansi-cyan); }
.ansi-bg-white { background-color: var(--ansi-white); }

.ansi-bg-bright-black { background-color: var(--ansi-bright-black); }
.ansi-bg-bright-red { background-color: var(--ansi-bright-red); }
.ansi-bg-bright-green { background-color: var(--ansi-bright-green); }
.ansi-bg-bright-yellow { background-color: var(--ansi-bright-yellow); }
.ansi-bg-bright-blue { background-color: var(--ansi-bright-blue); }
.ansi-bg-bright-magenta { background-color: var(--ansi-bright-magenta); }
.ansi-bg-bright-cyan { background-color: var(--ansi-bright-cyan); }
.ansi-bg-bright-white { background-color: var(--ansi-bright-white); }
