---
pagination:
  data: collections.post
  size: 10
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}posts/{{ pagination.pageNumber }}/{% endif %}"
eleventyImport:
  collections: ["post"]
summary: The collected thoughts and experiments of John Hobbs
---
{% include "_header.njk" %}

<div class="listing">
  {%- for post in pagination.items -%}
  <div>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <time datetime="{{ post.date.toISOString() }}">{{ post.date | strftime("LLL d, y") }}</time>
    {%- if post.data.summary -%}<p>{{ post.data.summary }}</p>{%- endif -%}
    {%- if post.data.tags or post.data.category -%}
      <div class="tags">
      {%- for tag in post.data.tags -%}
        <a href="/tags/{{ tag | wp_tag_slug }}" class="tag">{{ tag }}</a>
      {%- endfor -%}
      {%- for category in post.data.category -%}
        <a href="/category/{{ category | wp_category_slug }}" class="tag">{{ category }}</a>
      {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
  {%- endfor -%}

  <nav>
    <ol>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" rel="prev">&laquo; Previous</a>{% endif %}</li>
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}" rel="next">Next &raquo;</a>{% endif %}</li>
    </ol>
  </nav>
</div>

{% include "_footer.njk" %}
