---
pagination:
  data: collections.post
  size: 10
  reverse: true
eleventyImport:
  collections: ["posts"]
---
{% include "_header.njk" %}

{% if pagination.pageNumber == 0 %}
<section class="introduction">
  <picture>
    <source srcset="https://static.velvetcache.org/jmhobbs.avif" type="image/avif" />
    <source srcset="https://static.velvetcache.org/jmhobbs.webp" type="image/webp" />
    <source srcset="https://static.velvetcache.org/jmhobbs.jpg" type="image/jpeg" />
    <img src="https://static.velvetcache.org/jmhobbs.jpg" alt="John Hobbs" />
  </picture>
  <div>
    <h1>Hello!</h1>
    <p>My name is John Hobbs, and I do computer stuff.</p>
    <p>I also garden, keep bees, brew mead, roast coffee, keep chickens, etc.</p>
    <p>
      <a rel="me" href="https://github.com/jmhobbs">GitHub</a> ~
      <a rel="me" href="https://noc.social/@jmhobbs">Mastodon</a> ~
      <a rel="me" href="https://instagram.com/jmhobbs">Instagram</a>
    </p>
    <p><a href="/about">Read more...</a></p>
  </div>
</section>
{% endif %}

<div class="listing">
  {%- for post in pagination.items -%}
  <div>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <time datetime="{{ post.date.toISOString() }}">{{ post.date | strftime("LLL d, y") }}</time>
    {%- if post.data.summary -%}<p>{{ post.data.summary }}</p>{%- endif -%}
  </div>
  {%- endfor -%}

  <nav>
    <ol>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" rel="prev">&laquo; Previous</a>{% else %}&laquo; Previous{% endif %}</li>
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}" rel="next">Next &raquo;</a>{% else %}Next &raquo;{% endif %}</li>
    </ol>
  </nav>
</div>

{% include "_footer.njk" %}
